# Bonjour's travis-ci.org integration file
# Used to build Posix platform (Linux Ubuntu) version of Bonjour

#---------------------------------#
#      general configuration      #
#---------------------------------#

language: c

os: linux
dist: xenial

sudo: false

#---------------------------------#
#    environment configuration    #
#---------------------------------#

branches:
  only:
  - master

git:
  submodules: false

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/6faf0a1724be40d75eaa
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

#---------------------------------#
#       build configuration       #
#---------------------------------#

script: cd mDNSPosix && make os=linux DEBUG=1
